#topview{
                
    background-color: darkcyan;
    padding: 0.1% 1% 0.1% 1%;
    font: 1em sans-serif;
    color: gainsboro;
    font-weight: bold;
   

}

#L{
    
    float: right;
    margin: 3% 10% 2% 3%;
}
#R{
    position: fixed;
    float: right;
    
    width:  30% ;
    right: -30%;
   transition: all 500ms linear;
}

#R ul li{
    background-color: cadetblue;
    color: white;
    text-align: center;
    list-style: none;
    padding: 0.5%;
    border-bottom: 1px solid white;
}

#R .btnarea{
    position: fixed;
    right:5%;   
}

#R .btnarea:hover{
    cursor: pointer;
}
#R.active{
    right: 5% ;
}
ul{
    margin: 0;
    padding: 0;
}
#big{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0.5% 0% 0% 0%;
}


#program, #degree, #discover{
   
   text-align: center;
     width: 30% ;
}


#L::before{
   content: "\15F0E";
}

a{
    color: gainsboro;
    text-decoration: none;
}





